@charset "utf-8";


html{
 font-size: 62.5%;}

li{
	display: block;

	text-align: left;
	border: 2px solid #22901d;
	text-decoration: none;
	font-size: 2.5rem;
	/*font-family: 'Neucha', cursive;
	font-family: 'Alegreya', serif;
	font-family: 'Alegreya Sans', sans-serif;
	font-family: 'Merriweather', serif;
	font-family: 'Merriweather Sans', sans-serif;
	font-family: 'Nunito', sans-serif;
	font-family: 'Nunito Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Quattrocento', serif;
	font-family: 'Quattrocento Sans', sans-serif;
	font-family: 'IBM Plex Serif', serif;
	box-sizing: border-box;*/
}


.Tools{
	display:list-item;
	width: 35%;
	height: 10rem;
	line-height: 5rem;
	font-size: 3rem;
	font-family: 'Neuton', serif;/* naviの文字 */
	/*width: 25rem;
	display: block;
	justify-content: space-around;
	list-style-type: none;
	background-color:  #22901d;
	text-decoration: none;
	font-family: 'Neucha', cursive;
	font-family: 'Alegreya', serif;
	font-family: 'Alegreya Sans', sans-serif;
	font-family: 'Merriweather', serif;
	font-family: 'Merriweather Sans', sans-serif;
	font-family: 'Nunito', sans-serif;
	font-family: 'Nunito Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Quattrocento', serif;
	font-family: 'Quattrocento Sans', sans-serif;
	font-family: 'IBM Plex Serif', serif;*/
}

a{
	display: block;
}

@media screen and (min-width: 769px)